@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Prata&display=swap');
/* Our fonts:
    font-family: 'Lato', sans-serif;
    font-family: 'Prata', serif; */
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-color: #fff;
    --text-dark: #27292b;
    --text-warm-light: #fff5eb;
    --text-cold-light: #626060;
    --text-menu-light: #b9aea7;
    --text-description-accent: #684f40;
    --text-address-light: #706e6e;
    --subtitle-menu-light: #fff5eb;
    --subtitle-font-size: 20px;
    --text-variant-grey: #595959;
    --input-text: #7e7f81;
    --btn-primary: #e1a455;
    --btn-outline-dark: #684f40;
    --btn-outline-light: #fff;
    --btn-primary-hover: #ff8542;
    --btn-outline-hover: #e1a455;
    --light-link-hover: #684f40;
    --input-background: #e5e5e5;
    --background-dark: #27292b;
    /* --font-lato-sans-serif: "Lato", sans-serif; */
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}

body {
    position: relative;
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn-primary {
    font-size: 12px;
    border: none;
    border-radius: 35px;
    background: var(--btn-primary);
    padding: 7px 27px;
    transition: background 0.5s ease;
}

.btn-light{
    font-size: 14px;
    font-family: var(--font-lato-sans-serif);
    color: var(--text-dark);
    border: solid 2px var(--btn-outline-dark);
    border-radius: 25px;
    padding: 13px 37px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 1;
    background: transparent;
    transition: all 0.5s ease;
}

.btn-light:hover{
    color: var(--btn-primary);
    border-color: var(--btn-primary);
}

.btn-primary:hover {
    background: var(--btn-primary-hover);
}


.header__background--dark {
    background: var(--background-dark);
}