@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Prata&display=swap');
/* Our fonts:
    font-family: 'Lato', sans-serif;
    font-family: 'Prata', serif; */
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --text-dark: #27292b;
    --text-brown: #684f40;
    --text-warm-light: #fff5eb;
    --text-cold-light: #626060;
    --text-menu-light: #b9aea7;
    --text-address-light: #706e6e;
    --subtitle-menu-light: #fff5eb;
    --text-variant-grey: #595959;
    --input-text: #7e7f81;
    --btn-primary: #e1a455;
    --btn-outline-dark: #684f40;
    --btn-outline-light: #fff;
    --btn-primary-hover: #ff8542;
    --btn-outline-hover: #e1a455;
    --light-link-hover: #684f40;
    --input-background: #e5e5e5;
    --background-dark: #27292b;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn-primary {
    font-size: 12px;
    border: none;
    border-radius: 35px;
    background: var(--btn-primary);
    padding: 7px 27px;
}