.header__intro {
    display: block;
    flex-basis: 100%;
    padding-bottom: 135px;
    padding-top: 250px;
    min-width: 320px;
    font-size: 17px;
    font-weight: 400;
}
.header__intro-content {
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
}
.header__intro-title {
    display: inline;
    height: auto;
    width: auto;
    font-family: 'Prata', serif;
    color: var(--light-color);
    font-size: 58px;
    font-stretch: 100%;
    font-weight: 400;
    text-align: center;
    line-height: 69.6px;
}
.header__intro-text {
    color: var(--text-warm-light);
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
}
.header__intro-sub-text {
    color: var(--text-warm-light);
    font-size: 17px;
    line-height: 25.5px;
    text-align: center;
}