@import url(global.css);
@import url(header-nav.css);

body {
    position: relative;
}

.header__background {
    background-image: linear-gradient(#3e3f428c, #1b1c1f99), url(../img/index-header-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


