.map iframe {
    width: 100%;
    height: 576px;
    border: 0;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.contactform {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/locations-background.jpeg);
    background-size: cover;
    background-position: center center;
    padding: 90px 0;
}

.contactform .contactform__container {
    background-color: var(--light-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 150px;
    max-width: 350px;
    justify-content: space-between;
    padding: 10px 10px;
    margin: auto;
}

.contactform .contactform__border {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-image: repeating-linear-gradient(135deg, var(--border-contact-form-light) 0px, var(--border-contact-form-light) 30px, transparent 30px, transparent 50px, var(--border-contact-form-light) 50px, var(--border-contact-form-dark) 80px, transparent 80px, transparent 100px);
    padding: 20px;
    border: none;
    border-radius: 0px;
}

.contactform .contactform__page-section {
    padding: 20px 20px 0 20px;
    background-color: var(--light-color);
    display: block;
    position: relative;
    display: block;
}

.contactform #uname,
#umail,
#umessage {
    display: block;
    width: 100%;
    resize: none;
    font-size: 14px;
    color: var(--input-text);
    background-color: var(--input-background);
    border-radius: 25px;
    border-color: var(--input-background);
    border-style: none;
    height: auto;
    padding: 10px;
    margin: 20px auto 20px;
}

.contactform .contactform__btn {
    background-color: var(--btn-outline-hover);
    border-radius: 35px;
    font-size: 14px;
    color: var(--light-color);
    border-color: var(--btn-primary-hover);
    border-style: none;
    height: auto;
    padding: 10px;
    margin: 20px auto 20px;
    width: 100%;
}

.contactform .contactform__btn:hover {
    background-color: var(--btn-primary-hover);
    border-color: var(--btn-outline-hover);
    border-style: none;
    cursor: pointer;
}

.contactform .contactform__title {
    font-family: 'Prata', serif;
    color: var(--text-dark);
    font-size: 30px;
    font-weight: 400;
    line-height: 39px;
    text-align: center;
}

@media (min-width: 425px) {
    .contactform .contactform__container {
        margin: 1em auto;
        padding: 40px;
    }
}

@media (min-width: 768px) {
    .contactform .contactform__container {
        margin: 1em auto 2em;
        padding: 40px;
    }
}

@supports (-webkit-touch-callout : none) {
    .contactform {
        background-attachment: scroll;
    }
}

@supports not (-webkit-touch-callout : none) {
    .contactform {
        background-attachment: fixed;
    }
}