@import url(global.css);
@import url(header-nav.css);

@media (min-width: 320px) {
    .passion {
        padding: 90px 0;
    }

    .passion__container {
        padding: 0 10px;
        display: grid;
    }

    .passion__img {
        display: grid;
        justify-items: center;
        align-content: center;
    }
    .passion__img img{
        width: 270px;
        height: 180px;
        object-fit: cover;
    }

    .passion__column {
        display: grid;
        padding: 0 15px;
    }

    .passion__title {
        font-family: Prata, serif;
        font-size: 30px;
        font-weight: 400;
        line-height: 39px;
        margin-top: 50px;
    }

    .passion__paragraph {
        font-family: Lato, sans-serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 25px;
        color: var(--text-variant-grey);
        margin-top: 30px;
    }

    .gallery {
        padding: 90px 0;
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
        url(../img/dark-image-background.jpg);
        background-attachment: fixed;
        background-size: cover;
    }

    .gallery__container {
        display: grid;
        padding: 0 15px;
    }

    .gallery__title {
        font-family: Prata, serif;
        color: var(--text-warm-light);
        font-size: 30px;
        font-weight: 400;
        line-height: 39px;
        text-align: center;
    }

    .gallery__images {
        display: grid;
        justify-items: center;
        align-content: center;
    }

    .gallery__images img {
        width: 270px;
        height: 180px;
        object-fit: cover;
        margin-top: 50px;
    }

    .our-story {
        padding: 90px 0;
    }

    .our-story__container {
        display: grid;
    }

    .our-story__title {
        font-family: Prata, serif;
        font-size: 30px;
        font-weight: 400;
        line-height: 39px;
    }

    .our-story__description {
        font-family: Prata, serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 28px;
        margin-top: 50px;
    }

    .our-story__text {
        font-family: Lato, sans-serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 25px;
        color: var(--text-variant-grey);
        margin-top: 30px;
    }

    .our-story__img {
        padding-bottom: 25px;
        display: grid;
        justify-items: center;
        align-content: center;
    }

    .our-story__img img {
        width: 270px;
        height: 128px;
        object-fit: cover;
        margin-top: 50px;
    }
}
@media(min-width: 375px){
    .container{
        padding: 0 25px;
    }
    .passion__img img{
        width: 327px;
        height: 218px;
        object-fit: cover;
    }
    .gallery__images img {
        width: 327px;
        height: 218px;
        object-fit: cover;
    }
    .our-story__img {
        padding:  0;
    }
    .our-story__img img {
        width: 327px;
        height: 154px;
        object-fit: cover;
        margin: 25px 0;
        padding-top: 25px;
    }
}
@media(min-width: 425px){
    .passion__img img{
        width: 377px;
        height: 251px;
        object-fit: cover;
    }
    .gallery__images img {
        width: 377px;
        height: 252px;
        object-fit: cover;
    }
    .our-story__img img {
        width: 377px;
        height: 178px;
    }
}
@media(min-width: 768px){
    .passion__container {
        padding: 0 32px;
        display: flex;
    }
    .passion__img {
        padding-right: 30px;
    }
    .passion__img img{
        width: 337px;
        height: 224px;
        margin-bottom: 90px;
    }

    .passion__column {
        display: grid;
        padding: 0;
    }

    .passion__title {
        font-family: Prata, serif;
        font-size: 33px;
        font-weight: 400;
        line-height: 39px;
        margin: 0;
    }

    .passion__paragraph {
        font-family: Lato, sans-serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 25px;
        color: var(--text-variant-grey);
        margin-top: 30px;
    }

    .gallery {
        padding: 90px 0;
    }

    .gallery__container {
        display: grid;
        padding: 0 30px;
    }

    .gallery__title {
        font-size: 33px;
        font-weight: 400;
        line-height: 43px;
        margin-bottom: 50px;
    }

    .gallery__images {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .gallery__images img {
        width: 337px;
        height: 225px;
        object-fit: cover;
        margin: 0px;
    }

    .our-story {
        padding: 90px 0;
    }

    .our-story__container {
        display: grid;
        padding: 0 30px;
    }

    .our-story__title {
        font-size: 33px;
        font-weight: 400;
        line-height: 43px;
    }

    .our-story__description {
        font-size: 22px;
        font-weight: 400;
        line-height: 28px;
        margin-top: 50px;
    }

    .our-story__text {
        font-size: 17px;
        font-weight: 400;
        line-height: 25px;
        margin-top: 30px;
    }

    .our-story__img {
        margin: 0;
        padding: 0;
    }
    .our-story__img img {
        width: 704px;
        height: 334px;
        object-fit: cover;
        margin-top: 50px;
        padding: 0px;
    }
}