.process__title {
    color: var(--text-dark);
    font-family: 'Prata', serif;
    text-align: center;
    font-weight: normal;
  }
  .process__container {
    padding: 30px 20px 10px;
    margin: auto;
    max-width: 1200px;
  }
  .process__container img {
    display: block;
    width: 100%;   
  }
  @media (min-width: 320px) {
  .process__title {
    font-size: 30px;
    margin-top: 40px;
  }
  .process__container {
    padding: 30px 15px 30px;
  }
  }
  @media (min-width: 768px) {
   .process__title {
     font-size: 33px;
     margin-top: 40px;
    }
  }
  @media (min-width: 992px) {
  .process__title {
    font-size: 36px;
    margin-top: 40px;
  }
  .process__container {
    padding: 30px 50px 70px; 
  } 
  }
  @media (min-width: 1200px) {
  .process__title {
   font-size: 36px;
   margin-top: 40px;
  }
  .process__container {
   padding: 50px 65px 40px;
  } 
  }