.philosophy {
    background-image: linear-gradient(to left,#2526288c, #0f1012), url(../img/background-bread-philosophy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 20%;
    padding: 50px 40px;
    color: var(--light-color);
    text-align: left;
    font-family: 'Lato', sans-serif; 
}
.philosophy__title {
    font-family: 'Prata', serif;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 45px;
}
.philosophy-description__container {
        font-family: 'Lato', serif;
}
@media (min-width: 320px) {
    .philosophy__title{
        font-weight: 30px;
        width: 350px
    }
    .philosophy-description__container {
        font-size: 17px; 
        box-sizing: border-box;
        width: 450px;
    }
}
@media (min-width: 768px) {
    .philosophy__title {
        margin-top: 50px;
        font-weight: bold;
        width: 300px;
    }
    .philosophy-description__container {
        font-size: 15px;
        width: 400px;
    }
}
@media (min-width: 992px) {
    .philosophy__title{
        padding-left: 80px;
        font-weight: bold;
        width: 500px;
    }
    .philosophy-description__container {
        padding-left: 80px;
        font-size: 15px;
        box-sizing: border-box;
        width: 400px;
    }
}
@media (min-width: 1200px) {
    .philosophy__title {
        display: block;
        padding-left: 170px;
        font-weight: bold;
        width: 600px;
    }
    .philosophy-description__container {
        padding-left: 120px;
        font-size: 15px;
        box-sizing: border-box;
        width: 600px;
    }
}