.philosophy {
    background-image: url(../img/background-bread-philosophy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 40px;
    color: var(--light-color);
    text-align: left;
    font-family: 'Lato', sans-serif;  
}
.philosophy__title {
    font-family: 'Prata', serif;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 45px;
}

@media (min-width: 768px) {
    .philosophy__title {
        margin-top: 50px;
        margin-left: 10px;
        font-weight: bold;
        font-family: 'Prata', serif;
        width: 300px;
    }
    .philosophy__description {
        margin-top: 27px;
        margin-bottom: 50px;
        margin-left: 10px;
        font-family: sans-serif;
        font-size: 15px;
        width: 300px;
    }
}
@media (min-width: 992px) {
    .philosophy__title{
        margin-top: 50px;
        margin-left: 100px;
        font-weight: bold;
        font-family: 'Prata', serif;
        width: 200px;
    }
    .philosophy__description {
        margin-top: 27px;
        margin-bottom: 50px;
        margin-left: 100px;
        font-family: sans-serif;
        font-size: 15px;
        box-sizing: border-box;
        width: 400px;
    }
}
@media (min-width: 1200px) {
    .philosophy__title {
        display: block;margin-top: 50px;
        margin-left: 300px;
        font-weight: bold;
        font-family: 'Prata', serif;
        width: 300px;
    }
    .philosophy__description {
        margin-top: 27px;
        margin-bottom: 50px;
        margin-left: 250px;
        font-family: sans-serif;
        font-size: 15px;
        box-sizing: border-box;
        width: 450px;
    }
}